---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
<title>List of Redirects - go.dc1.in</title>
<style>
body {
  margin: auto;
  font-family: monospace;
  max-width: 98vw;
}
table {
  border-collapse: collapse;
}
th, td{
  border: 1px solid grey;
  border-left: none;
  border-right: none;
  padding: 5px;
}
th {
  background: lightpink;
}
tr:hover, tr:focus{
  background: PAPAYAWHIP;
}
.smallTd{
  white-space: nowrap;
}
.largeTd{
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow: hidden;
  max-width:300px;
}
a {
  text-decoration: none;
}
footer{
  position:fixed;
  bottom: 5px; right:5px;
  font-size: 0.7em;  
  opacity:0.75;
  background-color: rgba(200, 200, 200, 0.6);
  padding: 5px;
  z-index:100;
}
</style>
</head>
<body>
  <!--
    this page last edited on 2023-12-12 07:12pm SNR 4
      * page subkect title shows as link a href's title & text
      * long titles will be truncated with css
      * added footer, last edited
  -->
  <center>
    <h1>URL Shortener : GO.DC1.IN</h1>
    <h2>List of URLs</h2>
    <table>
        <thead>
        <tr>
          <th>Slug</th><th>Destination</th>
        </tr>
      </thead>
      <tbody>{% for post in site.posts reversed %}
        <tr>
          <td class="smallTd">{{ forloop.index }}. <a href="{{ post.url | prepend:site.url }}" title="{{ post.url | prepend:site.url }}" target="_blank">{{ post.url | remove: "/" }}</a></td>
          <td class="largeTd"><a href="{{ post.redirect.to }}" title="{{ post.redirect.sub }}" target="_blank">{{ post.redirect.sub }}</a></td>
        </tr>{% endfor %}
      </tbody>
    </table>
    <footer>Last Edit on {{ "now" | date: "%Y-%m-%d %I:%M:%S %p %z" }}<!-- https://strftime.net/ --></footer>
  </center>
</body>
</html>